body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1631472548473-3e1a1c74baeb?auto=format&fit=crop&q=80&w=3540&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.search input {
    width: 80%;
    height: 1.9em;
    padding: 0;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    border: white 1px solid;
    color: white;
    font-size: 25px;
}

.search button {
    background-color: #7c7c7c2b;
    color: white;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 4.5em;
    width: 4.5em;
}

.search button svg {
    width: 2.5em;
    height: 2.5em;
}

.search button:hover {
    background-color: #7c7c7c6b;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.temp-container h1 {
    font-size: 3em;
    margin: 0;
}

.icon {
    width: 20%;
}

.flex-cloud {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 3em;
    border: none;
    margin-top: 0.5em;
}

.flex-cloud img {
    width: 4em;
    height: 4em;
    margin-left: -1em;
}

.weather.loading {
    display: none;
    visibility: hidden;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
}